#container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #44bb77;
	background-image: url("noise.png"), url("background.jpg");
	background-size: auto, cover;
	background-repeat: repeat;
	animation-name: hueshift;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes hueshift {
    from {filter: hue-rotate(0deg);}
    to   {filter: hue-rotate(359deg);}
}

#centerbox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid #fff;
	box-shadow: 0 0 50px;
	animation-name: fadein;
	animation-duration: 1s;
}

@keyframes fadein {
    from {filter: opacity(0);}
    to   {filter: opacity(1);}
}

#logo {
	width: 400px;
	height: 273px;
	margin: 50px;
	margin-bottom: 40px;
}

#logo img {
    width: 100%;
}

#contact {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.5em;
	text-align: center;
	color: #fff;
}

#contact a {
	color: #fff;
	text-decoration: none;
}

#contact div {
	margin-bottom: 20px;
	vertical-align: middle;
}